
.popUpOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
}

.registerPopUp {
  display: flex;
  width: 920px;
  height: 596px;
  background: white;
  background: #131927;
  border-radius: 20px;
  overflow: hidden;
  font-family: 'Rubik', sans-serif;
  color: #F5F8FF;
}
.imgContainer{
  width: 50%;
  height: 100%;
  background-image:url('/frames/Login/bg.png');
  background-size: 100% 100%;
  
}
.content{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 100%;
  padding: 40px;
  gap: 40px;
}
.contentCode{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 100%;
  padding: 110px 80px 125px 80px;
  gap: 60px;
}
.title{
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
}
.title1{
  font-size: 22px;
  font-style: normal;
  font-weight: 800;
  line-height: 20px; /* 90.909% */
  letter-spacing: 0.33px;
  text-transform: uppercase;
}
.title2{
  color: #9CA3BD;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.title3{
  color: #F5F8FF;
  font-weight: 600;
}
.entryContainer{
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.inputData{
  display: flex;
  width: 380px;
  padding: 16px 20px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 12px;
  background: #171E2F;
  color: #576081;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
}
.inputDataCode{
  display: flex;
  width: 60px;
  height: 68px;
  padding: 24px 22px 24px 22px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 12px;
  background: #202445;
  color: #F5F8FF;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 83.333% */
  text-transform: uppercase;
}
.country{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 380px;
  height: 52px; 
  border-radius: 12px;
  padding: 16px 20px;
  background: linear-gradient(90deg, #202445 0%, #1D2744 100%);
}

.terms{
  display: flex;
  align-items: flex-start;
  color: #9CA3BD;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 19.6px */
  gap: 20px;
}

.checker{
  width: 30px;
  height: 20px;
  border-radius: 6px;
  background: #171E2F;
}

.terms1{
  color: #F5F8FF;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 19.6px */
}

.buttons{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.regButton{
  display: flex;
  width: 380px;
  padding: 16px 156px;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  border-radius: 12px;
  background: radial-gradient(155.2% 155.87% at 31.94% -11.82%, #9186FF 0%, #6D61FF 33.87%, #574AFF 91.62%);
  color: #F5F8FF;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 125% */
}

.continueWidth{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  color: #576081;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 128.571% */
}

.sepOr{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  
}

.signInRow{
  display: flex;
  gap: 12px;
  
}

.newCode{
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: 'center';
  color: #9CA3BD;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.newCode1{
  color: #F5F8FF;
  font-size: 14px;
  font-weight: 600;
}
.newCodeButton{
  display: flex;
  width: 300px;
  padding: 16px 118px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 12px;
  background: radial-gradient(155.2% 155.87% at 31.94% -11.82%, #9186FF 0%, #6D61FF 33.87%, #574AFF 91.62%);
}

.resetEntryRow{
  display: flex;
  gap: 20px;
  color: #F5F8FF;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 83.333% */
  text-transform: uppercase;

}

@media (max-width: 390px) {
  .popUpOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
  }
  .registerPopUp {
    display: flex;
    width: 100%;
    height: 100%;
    background: white;
    background: #131927;
    border-radius: 20px;
    overflow: hidden;
    font-family: 'Rubik', sans-serif;
    color: #F5F8FF;
  }
  .imgContainer{
    width: 0;
    height: 0;  
  }
  .content{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 180px 20px 338px 20px;
    gap: 40px;
    background-image:url('/frames/Login/bgmobile.jpg');
    background-size: 100% 100%;
  }

  .contentCode{
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 180px 45px 303px 45px;
    gap: 60px;
    background-image:url('/frames/Login/bgmobile.jpg');
    background-size: 100% 100%;
  }

  .inputData{
    display: flex;
    width: 350px;
    padding: 16px 20px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 12px;
    background: #171E2F;
    color: #576081;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
  }

  .country{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 350px;
    height: 52px; 
    border-radius: 12px;
    padding: 16px 20px;
    background: linear-gradient(90deg, #202445 0%, #1D2744 100%);
  }

  .terms{
    display: flex;
    align-items: flex-start;
    color: #9CA3BD;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 19.6px */
    gap: 20px;
  }

  .regButton{
    display: flex;
    width: 350px;
    padding: 16px 126px;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    border-radius: 12px;
    background: radial-gradient(155.2% 155.87% at 31.94% -11.82%, #9186FF 0%, #6D61FF 33.87%, #574AFF 91.62%);
    color: #F5F8FF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 125% */
  }

}
